[Unit]
Description=Kafka Server, used to create a kafka broker
After=network.target

[Service]
Type=simple
PIDFile=/var/run/kafka/kafka.pid
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties

[Install]
WantedBy=multi-user.target
