[Unit]
Description=Zookeeper Server, used with a Kafka Cluster
After=network.target

[Service]
Type=simple
PIDFile=/var/run/zookeeper/zookeeper.pid
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /etc/zookeeper/zookeeper.properties

[Install]
WantedBy=multi-user.target
